data/
logs/
__pycache__/
dataset_cache*
5tev-combine.log
add_secondary-5TeV.log
c2.log
c3.log
commands.txt
gemini/add_secondary-65tev.log
gemini/add_secondary.log
gemini/filter_trainfiles.py
gemini/filtered_tau.txt
gemini/merge-5TeV-moresamples.py
gemini/merge-65TeV-moresamples.py
nue_train_65_event_counts.csv
pca_feature_scan_5TeV.csv
redundant/trained_models/
string-level/infer.p
